.footer {
  padding: 100px 0 87px;

  color: #333333;

  background-color: #f5f5f5;
}

.footer ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer__container {
  display: grid;
  grid-template-columns: 354px auto;
  column-gap: 20px;

  position: relative;

  @media (max-width: 1250px) {
    display: flex;
    flex-direction: column;
  }
}

.footer__user-nav {
  margin-bottom: 49px;

  grid-column: 1/-1;

  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    margin-bottom: 20px;

    order: -1;
  }
}

.footer__logo {
  margin-right: 50px;
}

.footer__sicials-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}

.footer__socials-item a {
  display: flex;
  align-items: center;

  & svg {
    fill: none;
    stroke: #7d7d7d;
    transition: all 0.2s ease;
  }

  @include hover-focus {
    & svg {
      fill: #7d7d7d;
      stroke: #ffffff;
      filter: drop-shadow(0 0 5px #000000);
    }
  }
}

.footer__contacts {
  margin-bottom: 54px;
}

.footer__contacts-list {
  margin: 0;

  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 16px 30px;

  @media (max-width: 1250px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer__contacts-item {
  &--name,
  &--address {
    grid-column: 1/-1;
  }
}

.footer__contacts-item dd {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
}

.footer__contacts-item dt {
  margin-bottom: 4px;

  color: #bcbcbc;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.footer__navigation {
  margin-right: 136px;

  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 50px 80px;
  justify-self: flex-end;

  @media (max-width: 1250px) {
    margin: 0;

    grid-template-columns: repeat(2, 1fr);
    gap: 16px 30px;
  }
}

.footer__navigation div {
  &:last-child {
    max-width: 540px;

    grid-column: 1/-1;

    & ul {
      column-count: 2;
    }

    @media (max-width: 1250px) {
      max-width: 100%;
    }
  }

  & li:not(:last-child) {
    margin-bottom: 16px;
  }
}

.footer__navigation h3 {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.footer__navigation a {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;

  transition: all 0.2s ease;

  @include hover-focus {
    text-decoration: underline;
    text-decoration-color: #f64f00;
    text-underline-offset: 5px;
    color: #000000;
  }
}

.footer__confidence {
  max-width: 354px;

  position: absolute;
  bottom: 10px;
  left: $base-indent;

  @media (max-width: 1250px) {
    padding: 20px 0;

    max-width: 100%;

    position: relative;
    left: auto;
  }
}

.footer__confidence a,
.footer__confidence p {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: #7d7d7d;
}

.footer__confidence a {
  transition: all 0.2s ease;

  @include hover-focus {
    text-decoration: underline;
    color: #000000;
    text-underline-offset: 5px;
    text-decoration-color: #f64f00;
  }
}

.footer__confidence p {
  margin-bottom: 8px;
}

.footer__connection-link {
  padding: 30px;

  max-width: 150px;

  color: #f64f00;
  box-shadow: 0 0 0 1px currentColor inset;

  position: absolute;
  top: 0;
  right: $base-indent;

  transition: all 0.2s ease;

  @media (max-width: 768px) {
    margin-bottom: 20px;
    padding: 10px;

    max-width: 100%;
    width: 100%;
    height: auto;

    position: relative;
    right: auto;
    order: -1;
    border-radius: 0;
  }

  @include hover-focus {
    background-color: #f64f00;
    color: #f5f5f5;
  }
}

.footer__developer-link {
  position: absolute;
  bottom: 14px;
  right: calc($base-indent + 16px);

  @media (max-width: 1250px) {
    margin: 0 auto;

    max-width: 100%;

    position: relative;
    right: auto;
    bottom: auto;
  }
}
