.header {
  padding: 11px 0 15px;

  position: relative;

  color: #7d7d7d;

  background-color: #131111;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 40px;

  @media (max-width: 768px) {
    width: 75%;

    & img {
      height: auto;
      width: 250px;
    }
  }
}

.header__translate {
  margin-right: auto;

  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.header__translate-link {
  padding: 0;

  color: #7d7d7d;

  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;

  &--current {
    color: #d8d8d8;
    cursor: default;
  }

  @include hover-focus {
    color: #d8d8d8;
  }
}

.header__site-nav {
  margin-left: 65px;

  max-width: 550px;
}

.header__user-nav {
  margin-left: auto;

  max-width: 152px;
}

.header__shopping-cart {
  margin-left: 26px;

  & svg {
    stroke: #f5f5f5;
    transition: all 0.2s ease;

    @include hover-focus {
      stroke: #000000;
      fill: #f5f5f5;
    }
  }
}

// Mobile menu
.header__content {
  width: 100%;

  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    display: none;
  }
}

.header__menu-button {
  display: none;

  @media (max-width: 768px) {
    padding: 0;
    margin-left: auto;

    width: 40px;
    height: 40px;

    display: block;
    position: relative;

    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

// Кнопка меню при ЗАКРЫТОМ меню (иконка бургер)
.header--closed .header__menu-button {
  &::before {
    width: 100%;
    height: 2px;

    position: absolute;
    content: "";
    top: 50%;
    left: 0;

    background-color: #ffffff;
    box-shadow: 0 -12px 0 0 #ffffff, 0 12px 0 0 #ffffff;
  }
}

// Кнопка меню при ОТКРЫТОМ меню (иконка крестик)
.header--opened {
  & .header__menu-button {
    &::before,
    &::after {
      width: 40px;
      height: 3px;

      position: absolute;
      content: "";
      top: 50%;
      left: 2px;

      background-color: #ffffff;
      box-shadow: none;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  & .header__content {
    padding: 0 $secondary-indent;

    width: 100%;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 66px;
    left: 0;

    background-color: #000000;
    border-top: 1px solid #7d7d7d;
    z-index: 3;
  }

  & .header__translate {
    margin: 0 auto;
    padding: 10px 0;
  }

  & .header__site-nav {
    margin: 0;

    width: 100vw;
    max-width: 100vw;
  }

  & .site-nav__list {
    margin: 0;

    max-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0;

    text-align: center;
  }

  & .site-nav__item {
    display: flex;

    border-bottom: 1px solid #7d7d7d;

    &:first-child {
      border-top: 1px solid #7d7d7d;
    }
  }

  & .site-nav__item a {
    padding: 15px;

    width: 100%;
  }

  & .header__shopping-cart {
    margin: 0;
    padding: 10px;
  }

  & .header__user-nav {
    margin: 0;
    padding: 10px;

    width: 100%;
    max-width: 100%;
  }

  & .user-nav__list {
    justify-content: center;
  }
}

// Сценарий No JS
.wrapper--nojs {
  @media (max-width: 768px) {
    & .header {
      padding: 0;
    }

    & .header__menu-button {
      display: none;
    }

    & .header__container {
      padding: 0;

      display: flex;
      flex-direction: column;
    }

    & .header__logo {
      margin: 0;
      padding: 20px;

      & img {
        margin: 0 auto;
      }
    }

    & .header__content {
      margin: 0;
      padding: 0 $secondary-indent;

      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      z-index: 3;
      background-color: #000000;
      border-top: 1px solid #7d7d7d;
    }

    & .header__translate {
      margin: 0 auto;
      padding: 10px 0;
    }

    & .header__site-nav {
      margin: 0;

      width: 100vw;
      max-width: 100vw;
    }

    & .site-nav__list {
      margin: 0;

      max-width: 100%;

      display: flex;
      flex-direction: column;
      gap: 0;

      text-align: center;
    }

    & .site-nav__item {
      display: flex;

      border-bottom: 1px solid #7d7d7d;

      &:first-child {
        border-top: 1px solid #7d7d7d;
      }
    }

    & .site-nav__item a {
      padding: 15px;

      width: 100%;
    }

    & .header__shopping-cart {
      margin: 0;
      padding: 10px;
    }

    & .header__user-nav {
      margin: 0;
      padding: 10px;

      width: 100%;
      max-width: 100%;
    }

    & .user-nav__list {
      justify-content: center;
    }
  }
}
