.hero-card {
  position: relative;
  display: flex;
  align-items: stretch;
}

.hero-card__content {
  position: absolute;
  z-index: 1;
  top: 48px;
  right: 106px;
}

.hero-card__content h2 {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 24px;
  line-height: 120%;

  color: #f5f5f5;
}

.hero-card__content p {
  margin: 0;
  margin-bottom: 32px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #f5f5f5;
}

.hero-card img {
  height: 100%;
}

.hero-card__button {
  padding: 0;

  width: 125px;
  height: 125px;

  background-color: transparent;
  box-shadow: 0 0 0 1px #f5f5f5 inset;
  background-image: url('../img/svg/play-icon.svg');
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;

  @include hover-focus {
    background-color: rgba(#333333, 0.3);
    transform: scale(1.1);
  }
}

.hero-card a {
  color: #333333;
  padding: 10px;

  background-color: #ffffff;
  position: absolute;
  top: -75px;
  right: -75px;
  transform: rotate(15deg);
  transition: all 0.2s ease;

  @include hover-focus {
    color: #ffffff;

    background-color: #F64F00;
  }
}

.hero-card__button text {
  display: flex;
  align-items: center;

  text-transform: uppercase;
  font-family: $ff-inter;
  font-weight: 500;
  font-size: 10.41px;
  line-height: 12px;
}

.hero-card__button svg {
  animation: rotation 30s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}


