// Colors
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Typography
$fz-default: 16px;
$ff-raleway: "Raleway", "Arial", sans-serif;
$ff-inter: "Inter", "Arial", sans-serif;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Indents
$base-indent: 40px;
